# MySQL Database Configuration
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=financial_portfolio
DB_USERNAME=financialPortfolioApiBackend
DB_PASSWORD="G;hDc5&7JGnM|&)*Fp"
DB_ROOT_PASSWORD=sua_senha_root_segura
